.validation_error {
    -fx-background-color: red,
    linear-gradient(
        to bottom,
        derive(red,70%) 5%,
        derive(red,90%) 40%
    );
}

.text-area.validation_error .content {
    -fx-background-color: red,
    linear-gradient(
            to bottom,
            derive(red,70%) 5%,
            derive(red,90%) 40%
    );
}

.date-picker.validation_error > .text-field {
    -fx-background-color: red,
    linear-gradient(
            to bottom,
            derive(red,70%) 5%,
            derive(red,90%) 40%
    );
}

.validation_warning {
    -fx-background-color: orange,
    linear-gradient(
        to bottom,
        derive(orange,70%) 5%,
        derive(orange,90%) 40%
    );
}
