image: openjdk:12-jdk

before_script:
  - chmod +x ./gradlew

build:
  script:
    - java -version
    - LC_ALL=en_US.UTF-8 ./gradlew buildCI
  artifacts:
    paths:
      - build/distributions/
      - build/libs/
      - build/reports/
