name: Gradle Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-24.04, macOS-15, macOS-15-intel, windows-2022]
        java: ['17', '21', '25']
        distribution: ['temurin']
        gradle: ['8.5', '8.14.3', '9.2.0']
        exclude:
          # Java 25+ requires Gradle 9.1+
          - java: '25'
            gradle: '8.5'
          - java: '25'
            gradle: '8.14.3'
          # Exclude older versions of Gradle on macOS and Windows
          - os: macOS-15
            gradle: '8.5'
          - os: macOS-15
            gradle: '8.14.3'
          - os: macOS-15-intel
            gradle: '8.5'
          - os: macOS-15-intel
            gradle: '8.14.3'
          - os: windows-2022
            gradle: '8.5'
          - os: windows-2022
            gradle: '8.14.3'
      fail-fast: false
    env:
      # Use env variable to specify the JDK version to use for the `testMinJdk` Gradle option
      MIN_JDK: ${{ matrix.os == 'macOS-15' && '11' || '8' }}
    name: ${{ matrix.os }} JDK ${{ matrix.java }}.${{ matrix.distribution }} Gradle ${{ matrix.gradle }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: |
            ${{ env.MIN_JDK }}
            ${{ matrix.java }}
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: ${{ matrix.gradle }}
      - name: Run Gradle
        run: gradle -PtestMinJdk=${{ env.MIN_JDK }} build installDist --init-script build-scan-agree.gradle --scan --info --stacktrace
      - name: Upload Test Results and Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: bitcoinj-core-test-results-jdk${{ matrix.java }}-${{ matrix.os }}-${{ matrix.gradle }}
          path: |
            base/build/reports/tests/test/
            base/build/test-results/test/
            core/build/reports/tests/test/
            core/build/test-results/test/
            wallettool/build/reports/tests/test/
            wallettool/build/test-results/test/
            integration-test/build/reports/tests/test/
            integration-test/build/test-results/test/
